@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.5s ease;
}

body.light-mode {
  background-color: #f0f0f0;
}

body.dark-mode {
  background-color: #121212;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
}

* {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}


